/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #f2f4f8;
}

header.header {
    display: flex;
    height: 4rem;
    /* border: 1px solid red; */
    background-color: #ffffff;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

section.main {
    height: calc(100vh - 4rem);
    margin: 0 20px 0 20px;
}

.header__dashboardlist ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.header__logo {
    width: 300px;
}

.header__logo img {
    width: 143px;
    height: 20px;
}

.header__dashboardlist ul li {
    padding: 20px;
    box-shadow: -1px 0 0 0 #e9edf2;
    text-align: center;
    display: flex;
}

.header__dashboardlist ul>:nth-child(1) {
    box-shadow: 0 2px 0 0 #006e74;
}

.header__dashboardlist ul li a {
    text-decoration: none;
    margin-left: 5px;
}

.header__dashboardlist ul> :nth-child(1) a,
.header__dashboardlist ul> :nth-child(2) a {
    color: #006e74;
}

.header__dashboardlist ul> :nth-child(3) a,
.header__dashboardlist ul> :nth-child(4) a,
.header__dashboardlist ul> :nth-child(5) a {
    color: #2f3749;
}

.header__dashboard {
    height: 100%;
    display: flex;
}

.header__dashboard span {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: -1px 0 0 0 #e9edf2;
}

.header nav {
    align-items: center;
    width: calc(100% - 300px);
    height: 100%;
    display: flex;
}

article.main {
    margin-left: 20px;
    margin-right: 20px;
}

.status {
    margin-top: 15px;
    /* border: 1px solid red; */
}

.status__header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    margin: 10px 0 0 0;
}

.status__header>div {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    /* border: 1px solid red; */
    height: 100%;
}

.status__header>div> :nth-child(1) {
    padding-right: 100px;
    margin-left: 20px;
}

.status__header>div> :nth-child(2) {
    padding-right: 20px;
}

.status__inbound_freight {
    display: flex;
}

.status__header>div> :nth-child(1)> :nth-child(1) {
    padding-bottom: 10px;
}

.status__header b {
    font-weight: bold;
    font-size: 25px;
    color: #2f3749;
}

.status__header div {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    background-color: #ffffff;
    border: 1px solid red; */
}

.status__actions div {
    /* display: flex;
    justify-content: flex-start; */
    margin: 10px 0 0 10px;
    width: 10rem;
}

.status__header img {
    width: 34px;
    height: 34px;
}

.items {
    display: flex;
    justify-content: space-between;
}

.item__percentage {
    display: flex;
    /* justify-content: space-between; */
}

.status__frozencolor {
    width: 8px;
    height: 8px;
    margin: 4px 4px 4px 0;
    background-color: green;
    border-radius: 5px;
}

.item__percentage>:nth-child(2) {
    margin-right: 20px;
}

.status__perishablecolor {
    width: 8px;
    height: 8px;
    margin: 4px 4px 4px 0;
    background-color: green;
    border-radius: 5px;
}

.item__percentage>:nth-child(4) {
    margin-right: 45px;
}

.status__freshcolor {
    width: 8px;
    height: 8px;
    margin: 4px 4px 4px 0;
    background-color: #ffc300;
    border-radius: 5px;
}

.item__percentage>:nth-child(6) {
    margin-right: 15px;
}

.status__drycolor {
    width: 8px;
    height: 8px;
    margin: 4px 4px 4px 0;
    background-color: #f62020;
    border-radius: 5px;
}

.updates {
    margin: 15px 0 0 0;
}

.updates__aboveWrapper {
    height: 10rem;
}

.updates__left {
    margin: 0 20px 0 0;
    float: left;
    width: 50rem;
    height: 10rem;
    display: flex;
}

.updates_leftwidget {
    width: 50rem;
    height: 100%;
    background-color: #ffffff;
    /* border: 1px solid red; */
}

.updates__rightwidget {
    float: right;
    /* border: 2px solid blue; */
}

.updates__header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 0 0 #e9edf2;
}

.updates__header>div div {
    padding: 20px;
}

.updates__header-left {
    display: flex;
}

.updates__header-right {
    font-size: 12px;
    font-weight: 700;
    color: #006e74;
}

.updates__header-left>:nth-child(1) {
    box-shadow: 0 2px 0 0 #006e74;
}

.container-right {
    background-color: #ffffff;
    float: right;
    width: 30rem;
    height: 48rem;
    background-color: #f8f9fb;
}

.content {
    display: flex;
    margin-top: 10px;
}

.content p {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
    background-color: #f8f9fb;
}

.content>:nth-child(1) {
    font-size: 14px;
    font-weight: 500;
    background-color: #0097ab;
    border-radius: 2px;
    margin-left: 10px;
    color: white;
}

.content>:nth-child(1) span {
    color: white;
}

.content>:nth-child(2) span {
    color: #f62020;
}

.content span {
    color: #2f3749;
}

.search form {
    display: flex;
    background-color: #f8f9fb;
    margin: 10px 10px 10px 10px;
    outline: none;
    border-radius: 2px;
}

.search input {
    width: 100%;
}

.map h1 {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.map p {
    margin: 20px;
}

.wrapper {
    margin-top: 15px;
    clear: left;
    width: 50rem;
    display: flex;
}

.wrapper__num1 {
    float: left;
    margin-right: 10px;
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
}

.wrapper__num1 .wrapper__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrapper__num1 .wrapper__header-left>:nth-child(1),
.wrapper__origin>:nth-child(1),
.wrapper__destination>:nth-child(1),
.poNumber>:nth-child(1),
.vendorname>:nth-child(1),
.plannedETA>:nth-child(1),
.currentETA>:nth-child(1) {
    font-size: 13px;
    margin: 3px;
}

.wrapper__num2 {
    width: 50%;
    float: right;
    margin-left: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.wrapper__num2 .wrapper__header {
    display: flex;
    justify-content: space-between;
}

.wrapper__headericons-right,
.wrapper__headericons-right.num3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper__headericons-right img {
    padding: 2px;
}

.wrapper__headericons-right p {
    margin: 3px;
    background-color: #e7f4ff;
    padding: 5px;
}

.wrapper__num1 .origin>img {
    height: 30px;
    width: 30px;
    margin: 3px;
}

.wrapper__main_Origin-Destination,
.wrapper__main_Origin-Destination.num3,
.wrapper__main_Origin-Destination.num2,
.wrapper__main_Origin-Destination.num4 {
    display: flex;
    justify-content: space-around;
    background-color: #f2f4f8;
    align-items: center;
}

.origin {
    display: flex;
    align-items: center;
}

.destination {
    display: flex;
}

.wrapper__num1 .destination>img {
    height: 30px;
    width: 30px;
    margin: 3px;
}

.wrapper__mainDetails {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.wrapper__mainDetails>:nth-child(1) div,
.wrapper__mainDetails>:nth-child(2) div {
    margin: 10px;
}

.wrapper__b {
    margin-top: 15px;
    clear: left;
    width: 50rem;
    display: flex;
}

.wrapper__num3 {
    float: left;
    margin-right: 10px;
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
}

.wrapper__num4 {
    float: right;
    margin-left: 10px;
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
}

.wrapper__header.num3,
.wrapper__header.num4,
.wrapper__header.num2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrapper__headericons-right.num3 p {
    background-color: rgba(246, 32, 32, 0.1);
    color: #f62020;
    border-radius: 2px;
    font-size: 10PX;
    padding: 5px;
}

.trackingStatus {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    color: #f62020;
}

.wrapper__sub-logos {
    display: flex;
    justify-content: space-between;
}

.wrapper__sub-logos.num4 {
    margin-top: 55px;
}