/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  /* font-size: 62.5%; */

  /* font-size 100% = 16px.

  1px = 6.25%
  10px = 62.5% */
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  background-color: #f2f4f8;
  /* max-width: 300px; */
  /* max-width: 1920px; */
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

::-webkit-scroll {
  width: 3px;
}

ul a {
  width: 17rem;
}

header.header {
  display: flex;
  height: 4rem;
  width: 100%;
  /* border: 1px solid red; */
  background-color: #ffffff;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

section.main {
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  height: calc(100vh - 4rem);
  margin: auto;
  max-width: 120rem;
  /* border: 2px solid red; */
}

.header__dashboardlist {
  justify-content: space-between;
}

.header__dashboardlist img {
  margin-right: 0.3rem;
}
.header__dashboardlist ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  width: 17rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 143px;
  height: 20px;
}

.header__dashboardlist ul li {
  /* padding: 1.25rem; */
  box-shadow: -1px 0 0 0 #e9edf2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__dashboardlist ul > :nth-child(1) li {
  padding: 1.25rem 1.2rem;
}

.header__dashboardlist ul > :nth-child(1) {
  width: 18%;
}

.header__dashboardlist ul > :nth-child(2) li {
  padding: 1.25rem 1.4rem;
}

.header__dashboardlist ul > :nth-child(2) {
  width: 18%;
}

.header__dashboardlist ul > :nth-child(3) li {
  padding: 1.25rem 1.5rem;
}

.header__dashboardlist ul > :nth-child(3) {
  width: 17%;
}

.header__dashboardlist ul > :nth-child(4) li {
  padding: 1.25rem 0rem;
}

.header__dashboardlist ul > :nth-child(4) {
  width: 21%;
}
.header__dashboardlist ul > :nth-child(5) li {
  padding: 1.25rem 1.4rem;
}

.header__dashboardlist ul > :nth-child(5) {
  width: 27%;
}

.header__dashboardlist ul div {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

.header__dashboardlist ul > :nth-child(1) {
  box-shadow: 0 2px 0 0 #006e74;

  /* font-family: "Roboto", sans-serif; */
}
.header__dashboardlist ul > :nth-child(1) img {
  margin-bottom: 0.3rem;
}

.header__dashboardlist ul li a {
  text-decoration: none;
  margin-left: 5px;
}

.header__dashboardlist ul > :nth-child(1) {
  color: #006e74;
}

.header__dashboardlist ul > :nth-child(3),
.header__dashboardlist ul > :nth-child(4),
.header__dashboardlist ul > :nth-child(5) {
  color: #2f3749;
}

.header__dashboardlist ul > :nth-child(3) img,
.header__dashboardlist ul > :nth-child(4) img,
.header__dashboardlist ul > :nth-child(5) img {
  color: #2f3749;
}

.header__dashboardlist a {
  text-decoration: none;
}

.header__dashboard {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 18rem;
}

.header__dashboard span {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.header__dashboard > :nth-child(3) {
  padding-right: 5px;
}

.header__dashboard > span:nth-of-type(3) + img {
  width: 30px;
  height: 30px;
}

.header__dashbaordusername {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  display: block;
}

.header_dashboardUser_profile {
  width: 30px;
  height: 30px;
}

.header nav {
  align-items: center;
  width: calc(100% - 35rem);
  height: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.status {
  margin-top: 15px;
  /* border: 1px solid red; */
}

.cards__container {
  width: 100%;
  height: 5rem;
  min-width: 100%;
  overflow-x: scroll;
}

.cards__container::-webkit-scrollbar {
  height: 2px;
}

.status__actionCards {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.status__actionCards > div {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  /* border: 1px solid red; */
  height: 100%;
  width: 24%;
  border-radius: 2px;
  justify-content: space-between;
  padding: 1rem;
}

.status__actionCards > div > :nth-child(1) p {
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: #666666;
  font-size: 0.6875rem;
}

.status__actionCards > div > :nth-child(1) > :nth-child(1) {
  color: #666;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.status__actionCards > :nth-child(3) > :nth-child(1) span,
.status__actionCards > :nth-child(4) > :nth-child(1) > :nth-child(2) p {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #7c8089;
}

.status__actionCards > :nth-child(4) > :nth-child(1) > :nth-child(3) p {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #7c8089;
  align-items: center;
}

.status__actionCards > :nth-child(4) > :nth-child(1) {
  padding-right: 10px;
}

.status__inbound_freight {
  display: flex;
}

.status__Inbound-frieghtText {
  margin-bottom: 0.3125rem;
}

.status__actionCards b {
  font-weight: bold;
  font-size: 1.5625rem;
  color: #2f3749;
}

.status__actionCards > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.status__card div {
  /* display: flex;
    justify-content: flex-start; */
  margin: 10px 0 0 10px;
  width: 10rem;
}

.status__actionCards img {
  width: 34px;
  height: 34px;
}

.items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  width: 100%;
}

.nav.next {
  display: none;
}

.nav.previous {
  display: none;
}

.item__percentage {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.cla span {
  margin-left: 0.8125rem;
}

.items > :nth-child(1) .status__color,
.items > :nth-child(2) .status__color {
  width: 8px;
  height: 8px;
  margin: 4px 4px 4px 0;
  background-color: green;
  border-radius: 5px;
}

.item__percentage > :nth-child(2) {
  margin-right: 20px;
}

.item__percentage > :nth-child(4) {
  margin-right: 45px;
}

.items > :nth-child(3) .status__color {
  width: 8px;
  height: 8px;
  margin: 4px 4px 4px 0;
  background-color: #ffc300;
  border-radius: 5px;
}
.items > :nth-child(4) .status__color {
  width: 8px;
  height: 8px;
  margin: 4px 4px 4px 0;
  background-color: #f62020;
  border-radius: 5px;
}

.item__percentage > :nth-child(6) {
  margin-right: 15px;
}

.status__drycolor {
  width: 8px;
  height: 8px;
  margin: 4px 4px 4px 0;
  background-color: #f62020;
  border-radius: 5px;
}

.updates {
  margin: 0 10px 0 0;
  height: 10rem;
  /* border: 2px solid green; */
  width: 100%;
  background-color: #ffffff;
}

.updates__header-right .updates__view_all_shipment {
  display: block;
}

.updates__header-right .updates__view_all {
  display: none;
}

.updates__aboveWrapper {
  height: 100%;
}

.updates__left {
  height: 100%;
  background-color: #ffffff;
}

.updates__header {
  height: calc(100% - 70%);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 0 #e9edf2;
  align-items: center;
}

.updates__header > div {
  cursor: pointer;
}

.updates__header > div a {
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.updates__header-left {
  display: flex;
  height: 100%;
}

.updates__header-right a {
  padding: 20px;
  color: #006e74;
  height: 100%;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.updates__header-left a {
  text-decoration: none;
  color: #2f3749;
  /* font-family: Arboria-☞; */
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.updates__header-right {
  font-size: 12px;
  font-weight: 700;
  color: #006e74;
  height: 100%;
}

.updates__header-left > :nth-child(1) {
  box-shadow: 0 2px 0 0 #006e74;
  color: #006e74;
}

.container-right {
  background-color: #ffffff;
  height: 100%;
  width: 40%;
  /* height: 100%; */
  background-color: #f8f9fb;
  margin-left: 10px;
}

.content {
  width: 100%;
  display: flex;
  height: calc(100% - 6.625rem);
  margin-top: 0.625rem;
  justify-content: space-between;
}

.container__left {
  width: 60%;
  padding-right: 0.625rem;
  height: 100%;
}

.updates__content {
  height: calc(100% - 64%);
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
}

.updates__content a {
  font-size: 0.875rem;
  padding: 0.625rem;
  margin-left: 0.1875rem;
  margin-right: 0.1875rem;
  border-radius: 2px;
  background-color: #f8f9fb;
  color: #2f3749;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.updates__content > :nth-child(1) {
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #0097ab;
  border-radius: 2px;

  color: white;
}

.updates__content > :nth-child(1) span {
  color: white;
}

.updates__content > :nth-child(2) span {
  color: #f62020;
}

.updates__content span {
  color: #2f3749;
  font-size: 14px;
  font-weight: 600;
}

.search form {
  height: 2.1875rem;
  display: flex;
  background-color: #f8f9fb;
  margin: 0.3125rem 0.625rem 0.625rem 0.9375rem;
  outline: none;
  border-radius: 2px;
}

.search button {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgb(183 194 210 / 30%);
  background-color: var(--white);
}

.search input {
  width: 100%;
  /* font-family: Arboria-☞; */
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #7c8089;
  border: none;
  /* outline: none; */
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgb(183 194 210 / 30%);
  background-color: var(--white);
}

.search__seachfield-box {
  height: auto;
  display: flex;
  background-color: #f8f9fb;
  margin-left: 0.9375rem;
  border-radius: 2px;
  width: calc(100% - 3%);

  margin-left: 10px;
}

.shipment_cards {
  width: 100%;
  margin-top: 0.9375rem;
  height: calc(100% - 10.9375rem);
}

.map h1 {
  font-size: 2rem;
  padding: 1.25rem;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.map__header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
}

.map__header p {
  background-color: #ffffff;
  padding: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.8125rem;
}

.map .content__right p {
  margin: 1.875rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper__num {
  background-color: #ffffff;
  width: calc(50% - 0.4rem);
  padding: 0.625rem;

  background-color: #ffffff;
}

/* origin & destination whole part */
.wrapper__num .wrapper__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9375rem;
  width: 100%;
}

.wrapper__num .wrapper__main {
  width: 100%;
}

.wrapper__num .wrapper__header-left > :nth-child(1),
.wrapper__origin > :nth-child(1),
.wrapper__destination > :nth-child(1),
.poNumber > :nth-child(1),
.vendorname > :nth-child(1),
.plannedETA > :nth-child(1),
.currentETA > :nth-child(1),
.wrapper__header-left > :nth-child(1) {
  font-size: 0.6875rem;
  margin: 0.1875rem;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #7c8089;
}

.wrapper > div .wrapper__main_Origin-Destination > div > div > :nth-child(2),
.wrapper .wrapper__main_Origin-Destination.num3 > div > div > :nth-child(2),
.wrapper .wrapper__main_Origin-Destination.num4 > div > div > :nth-child(2) {
  font-size: 0.875rem;
  font-weight: bold;
  color: #2f3749;
  font-family: "Roboto", sans-serif;
}

.wrapper::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: black;
}

.wrapper::-webkit-scrollbar-track {
  background: #b7c2d2;
}

.wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

.wrapper > div .wrapper__mainDetails > div > div > :nth-child(2),
.wrapper > div .wrapper__mainDetails > div > div > :nth-child(2) {
  font-size: 0.8125rem;
  font-family: "Roboto", sans-serif;
}

.wrapper > div .wrapper__mainDetails,
.wrapper > div .wrapper__mainDetails {
  justify-content: space-between;
}

.wrapper__header-left > :nth-child(2) {
  /* font-family: Arboria-☞; */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.wrapper__headericons-right,
.wrapper__headericons-right.num3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper__headericons-right img {
  padding: 2px;
}

.wrapper__headericons-right p {
  margin: 0.1875rem;
  color: #017cee;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  font-weight: bold;
  background-color: #e7f4ff;
}

.wrapper__num .origin > img {
  height: 30px;
  width: 30px;
  margin: 3px;
}

.wrapper__header.num4 {
  margin-bottom: 2.125rem;
}

.wrapper__main_Origin-Destination,
.wrapper__main_Origin-Destination.num3,
.wrapper__main_Origin-Destination.num2,
.wrapper__main_Origin-Destination.num4 {
  display: flex;
  justify-content: space-between;
  background-color: #f2f4f8;
  align-items: center;
  padding: 0.5rem 0.3125rem;
  margin: 0 0.625rem 0 0.625rem;
}

.wrapper__header.num3 {
  margin-bottom: 0.9375rem;
}

.origin {
  display: flex;
  align-items: center;
  margin-left: 0.625rem;
  margin-right: 4.375rem;
}

.destination {
  display: flex;
}

.wrapper__num .destination > img {
  height: 20px;
  width: 20px;
  margin: 3px;
}

.wrapper > div .wrapper__main_Origin-Destination > div img,
.wrapper > div .wrapper__main_Origin-Destination > div img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.wrapper > div .wrapper__main_Origin-Destination > div,
.wrapper > div .wrapper__main_Origin-Destination > div {
  display: flex;
  align-items: center;
}

.wrapper__mainDetails {
  display: flex;
  justify-content: space-around;
  margin: 0.325rem 0rem;
}

.wrapper__mainDetails > :nth-child(1) div,
.wrapper__mainDetails > :nth-child(2) div {
  margin: 1.25rem 1.875rem 0.625rem 0.625rem;
}

.wrapper__header.num,
.wrapper__header.num,
.wrapper__header.num {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wrapper__headericons-right.num3 p {
  background-color: rgba(246, 32, 32, 0.1);
  color: #f62020;
  border-radius: 2px;
  font-size: 0.625rem;
  /* padding: 0.3125rem; */
  padding: 0.44rem;
  font-weight: bold;
}

.wrapper__headericons-right.num4 p {
  color: #53cb5d;
}

.trackingStatus {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  font-size: 12px;
  margin-bottom: 0.625rem;
  color: #f62020;
}

.wrapper__main.num3 .wrapper__mainDetails {
  /* margin: 0.325rem 0rem; */
}

.wrapper__mainDetails.num4 {
  margin: 0.325rem 0rem;
}

.wrapper__sub-logos {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
  color: black;

  font-size: 25px;
  cursor: pointer;
  margin: 0.625rem;
}

.updates__angle-right {
  display: none;
}

section.main {
  position: relative;
}

.map__tabletView {
  display: none;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.status__actionCards > :nth-child(5) {
  display: none;
}

.updates__content a:hover,
.updates__header-right a:hover {
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #0097ab;
  border-radius: 2px;
  color: white;
}

.updates__header-left a:hover {
  box-shadow: 0 2px 0 0 #006e74;
  color: #006e74;
}

.header__tabletDashboardlist {
  display: none;
}

.close-menu {
  display: none;
}

.updates__angle-left {
  display: none;
}

@media only screen and (min-width: 280px) and (max-width: 640px) {
  body,
  root {
    height: 100%;
  }

  html {
    font-family: "Roboto", sans-serif;
  }

  .show-menu {
    display: block;
  }

  .status__header.corousel {
    display: flex;
    /* min-width: 93.75rem; */
    min-width: 101rem;

    width: 400%;
  }

  .status__header.corousel::-webkit-scrollbar {
    width: 0.3125rem;
  }

  .status__actionCards div {
    justify-content: space-between;
    /* margin-right: 0.625rem; */
  }

  .hamburger {
    display: block;
    z-index: 1;
  }

  .close-menu {
    display: none;
    padding: 1rem;
  }
  .header__nav-inks li:hover {
    color: #36c8ea;
  }
  .close-display {
    display: block;
    padding: 1.25rem;
  }

  .container-right {
    display: none;
  }

  .map__tabletView {
    display: block;
  }

  span.header__dashbaordusername {
    display: none;
  }

  .container__left {
    padding: 0rem;
  }

  .updates__content > :nth-child(2) {
    min-width: 7rem;
  }
  .updates__content > :nth-child(4) {
    min-width: 8rem;
  }
  .updates__content > :nth-child(5),
  .updates__content > :nth-child(6) {
    min-width: 9rem;
  }

  .header__dashboardlist ul {
    display: none;
  }

  .root {
    position: relative;
    height: 100%;
  }

  .header__tabletDashboardlist ul a li,
  .show-menu {
    display: flex;
    padding: 1.25rem;
    background-color: #ffffff;
    color: black;
    box-shadow: 0 1px #e9edf2;
    flex-basis: 100%;
  }

  .header__tabletDashboardlist,
  .show-menu {
    flex-basis: 100%;
  }

  .header__tabletDashboardlist a,
  .header__tabletDashboardlist a img,
  .show-menu {
    text-decoration: none;
    margin-right: 0.3rem;
  }

  .header__tabletDashboardlist ul,
  .show-menu {
    width: 100%;
  }

  .header__tabletDashboardlist {
    position: fixed;
    top: -100%;
    width: 100%;
    height: calc(100% - 4rem);
    transition: top 9% 2s ease-in-out;
  }

  .header__tabletDashboardlist.show-menu {
    top: 9%;
  }

  /* @keyframes abc {
    0% {
      transform: translateY(20%);
    }
    25% {
      transform: translateY(40%);
    }
  } */

  .status__actionCards {
    overflow-x: auto;
    display: flex;
    overflow-y: hidden;
    width: 400%;
  }

  .status__actionCards div {
    width: 100%;
  }

  .wrapper__num {
    height: 50%;
    width: 100%;
  }

  .container__left {
    width: 100%;
  }

  .container-right {
    width: 100%;
    margin-top: 0.625rem;
    margin-left: 0rem;
  }

  .content {
    display: block;
  }

  /* input.big {
    display: none;
  } */

  .updates__header-right .updates__view_all_shipment {
    display: none;
  }

  .updates__header-right a.updates__view_all {
    display: block;
    height: 100%;
    font-size: 0.75rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
  }
  .updates__header-right a {
    /* padding: 0rem;
    font-size: 0.75rem; */
  }

  .status_action_card.track-container {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
  }

  .cards__container {
    position: relative;
  }

  .nav.next {
    border-radius: 100%;
    display: block;
    position: fixed;
    top: 14%;
    right: 0.5rem;
    height: 24px;
    width: 24px;
    text-align: center;
    background-color: #36c8ea;
    /* z-index: 1; */
    line-height: 1.5;
    box-shadow: 0 2px 5px 0 rgb(54 200 234 / 50%);
  }

  .nav.previous {
    border-radius: 100%;
    display: block;
    position: fixed;
    top: 14%;
    left: 0.5rem;
    height: 24px;
    width: 24px;
    text-align: center;
    background-color: #36c8ea;
    /* z-index: 1; */
    line-height: 1.5;
  }

  .previous:after {
    content: "<";
  }

  .next:after {
    content: ">";
  }

  .updates__content a {
    min-width: 20%;
    text-align: center;
  }

  .updates {
    position: relative;
  }

  .updates__content {
    overflow-x: auto;
    position: relative;
  }

  .updates__angle-right {
    position: absolute;
    top: 30%;
    right: 0%;
    display: block;
  }

  .updates__angle-left {
    position: absolute;
    top: 30%;
    left: 0%;
    transform: rotate(180deg);
    /* display: block; */

    background-color: ffffff;
    border-radius: 10px;
  }
}

.search {
  margin-right: 0.625rem;
}

.wrapper__num {
  height: 22rem;
}

.wrapper > div .wrapper__mainDetails,
.wrapper > div .wrapper__mainDetails {
  padding-bottom: 35px;

  padding-top: 35px;
}

.map {
  position: relative;
}

.content__right {
  display: block;
}

@media only screen and (min-width: 640px) and (max-width: 992px) {
  body,
  root {
    height: 100%;
  }
  .header__dashboardlist ul {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 1;
  }

  .header nav {
    width: 0%;
  }
  header.header {
    justify-content: space-between;
  }

  .header__dashboard {
    width: 20rem;
  }

  .status__actionCards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .status__actionCards div {
    width: 48%;
    height: 48%;
  }

  .status__actionCards > :nth-child(5) {
    display: flex;
    /* display: flex; */
  }

  .status__actionCards > :nth-child(4) {
    display: none;
  }

  .container-right {
    display: none;
  }

  .map__tabletView {
    display: block;
  }

  .content {
    display: block;
    height: calc(100% - 12.625rem);
  }

  .container__left {
    width: 100%;
  }
  .container-right {
    width: 100%;
    display: none;
  }

  .status__actionCards > :nth-child(6) {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards__container {
    overflow-x: hidden;
    height: 12rem;
  }
}
